* {
  font-family: 'Lato';
}

input {
  width: 100%;
  display: inline-block;
  font-size: 22px;
}

.container {
  padding: 0;
  border: 0;
  margin: 0;
  margin-top: 24px;
  display: inline;
  width: 100%;
}

.dropdown {
  padding: 0px;
  margin: 0px;
  border: 0px;
  list-style: none;
}

  .dropdown li {
    width: 100%;
    background: rgba(255, 255, 255, 0.06);
    cursor: pointer;
    transition: background linear .10s;
  }

  .dropdown hr {
    margin: 0px;
  }

  .dropdown a {
    text-decoration: none;
    color: inherit;
  }

  /*.dropdown li:hover {
    background: rgba(111, 111, 111, 0.11);
    transition: background linear .10s;
  }*/

  .dropdown li.active {
    background: rgba(111, 111, 111, 0.11);
    transition: background linear .10s;
  }

.match {
  margin-top: 16px;
}

.match .word {
  font-size: 24px;
  font-weight: bold;
}

.match .definition {
  margin-top: 12px;
}

.not_found {
  margin-top: 16px;
}
