<div>
  <input
         class="input"
         type="text"
         placeholder="Type something"
         (keyup.enter)="OnEnterPressed()"
         (keydown.arrowdown)="SelectNextIndex()"
         (keydown.arrowup)="SelectPrevIndex()"
         [(ngModel)]="inputValue"
         (ngModelChange)="OnValueChange()" />

  <div class="container">
    <ul class="dropdown" *ngIf="elements.length > 1">
      <li
          *ngFor="let elem of elements; let i = index"
          id="item-{{i}}"
          [class.active]="getActiveState(i)"
          (mouseenter)="setSelectionIndex(i)"
          (click)="OnValueSelected(elem.word)"
          >
        <!-- do routing for href -->
        <a ng-href="#" >{{elem.word}}</a> 
        <hr />
      </li>
    </ul>   

    <div class="match" *ngIf="elements.length === 1">
      <span class="word">{{elements[0].word}}</span>
      <p class="definition">
        {{elements[0].definition}}
      </p>
    </div>

    <div class="not_found" *ngIf="elements.length===0">
      <!--<p *ngIf="(inputValue === '')"> type something </p>-->
      <p *ngIf="(inputValue !== '')"> found nothing </p>
    </div>

  </div>
</div>
