.header {
  font-family: 'Lato';
  margin: 70px;
  margin-bottom: 35px;
  font-size: 55px;
}

.content {
  /*margin-left: 70px;
  margin-right: 70px;*/
  padding-left: 70px;
  padding-right: 70px;
  display: inline-block;
  width: 100%;  
}
